In [2]:
import pandas as pd
  
# read text file into pandas DataFrame
GeneIDlist = pd.read_table("gene_annotation.txt", delimiter='\t')
  
# display DataFrame
print(GeneIDlist)

                GeneID ChromosomeID  Exon  Loc_Start  Loc_End
0       Zm00001d027230            1  exon      44289    44947
1       Zm00001d027230            1  exon      45666    45803
2       Zm00001d027230            1  exon      45888    46133
3       Zm00001d027230            1  exon      46229    46342
4       Zm00001d027230            1  exon      46451    46633
...                ...          ...   ...        ...      ...
402554  Zm00001d000232  B73V4_ctg98  exon      67064    67355
402555  Zm00001d000232  B73V4_ctg98  exon      67390    67515
402556  Zm00001d000232  B73V4_ctg98  exon      67605    68060
402557  Zm00001d000233  B73V4_ctg98  exon      96278    98668
402558  Zm00001d000233  B73V4_ctg98  exon     101066   101470

[402559 rows x 5 columns]

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
Unique_GeneID = GeneIDlist['GeneID'].unique()
print('Unique elements in column "GeneID" ')
print(Unique_GeneID)

Unique_GeneIDCount = GeneIDlist['GeneID'].nunique()
print('Number of unique values in column "GeneID" of the dataframe : ')
print(Unique_GeneIDCount)

Unique elements in column "GeneID"
['Zm00001d027230' 'Zm00001d027231' 'Zm00001d027232' ... 'Zm00001d000231'
 'Zm00001d000232' 'Zm00001d000233']
Number of unique values in column "GeneID" of the dataframe :
41942